:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  ---whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
}:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  --secondary-color: #faa935;
  
  ---whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
}

.login_img{
  width: 60%;
  text-align: center;
}
.login_img img {
  width: 70%;
  object-fit: contain;
}
.login_form{
  padding: 50px;
  background: var( --secondary-color);
  position: relative;
}
.login_container{

}
.login_form .user{
  width: 80px;
  height: 80px;
  position: absolute;
  top: -9%;
  left: 50%;
  transform: translate(-50%, -9%);
  margin-top: 1rem;
}
.login_form .user img{
  width: 100%;
  
}
.login_form h2 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.login_form{
  max-width: 50%;
    min-width: 40%;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}
.login_form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: var(--blackcolor);
  background-color: var(---whitecolor);
}
.auth_btn{
  background: var(--blackcolor) !important;
  width: 100%;
  color: var(---whitecolor) !important;
}
.login_form p{
  font-size: .9rem;
  color: var(---whitecolor) !important;
  margin-top: 1.5rem;
  text-align: center;
}
.rtux{
  color: blue;
}

.rtux input{
  background-color: var(--secondary-color);
  width: 120%;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: var(--blackcolor);

  
}
@media screen and (max-width: 768) {
  .login_container{

  }
  .login_img {
      display: none;
  }
  .login_form{
      
      max-width: 30%;
      min-width: 30%;
  }
} @media screen and (max-width: 468) {
       
        .login_form{
            
           width: 50%;
        }
      }
