.card-list-title{
display: flex;
text-align: left;
}
.card-list-content {
    width: 100%;
    margin: 5 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap:'wrap';
    overflow-y: hidden;
    overflow-x: auto;
  }
  .card-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:'wrap';
  }
 .comming-soon{
  color: red;
 } 