:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  --whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
}

.gth {
  color: var(--textcolor);
  font-size: 30px;
  margin: 1rem;
  text-align: center;
}

.continents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 900px;
  margin: 0 auto;
}

.continents div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continents img {
  width: 100%;
  max-width: 400px;
  height: auto;
  gap: 1rem;
}

@media (max-width: 768px) {
  .gth {
    font-size: 24px;
  }
  
  .continents div {
    max-width: calc(50% - 0.25rem); /* Adjust the maximum width for smaller screens */
  }
}

@media (max-width: 480px) {
  .gth {
    font-size: 18px;
  }

  .continents {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Display two images in a row on mobile screens */
    overflow: hidden; /* Hide any potential horizontal overflow */
  }

  .continents div {
    max-width: 100%; /* Set maximum width to 100% for mobile screens */
  }

  .continents img {
    width: 100%; /* Set image width to 100% of its container */
    max-width: none; /* Disable the maximum width set for larger screens */
  }
}
