:root{
    --primarycolor: hsl(26, 93%, 50%);
    --Hovercolor: hsl(26, 90%, 42%);
    --whitecolor: hsl(0, 0%,100%);
    --blackcolor: hsl(0, 0%, 18%);
    --textcolor: hsl(240, 1%, 48%);
    --whitecolorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greytext: rgb(190, 190, 190);
    --inputcolor: hsl(330, 12%, 97%);
    --bodyColor: rgb(240, 240, 246);
    --cardBg: rgb(225, 225, 235);
    
 }
.contact{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-right: 2rem;
    
}
.contact-heading h2{
    color: var(--primarycolor);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    font-family: "Bai jamjuree", sans-serif;
}
.contact-heading h2::before{
    position: absolute;
    top: 50%;
    right: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background: var(--primarycolor);   
}
.contact-heading h2::after{
    position: absolute;
    top: 50%;
    right: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background: var(--primarycolor); 

}
.container{
    max-width: 1170px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex:  0 0 auto;
    width: 50%;
}
.contact-widget{
    margin-bottom: 40px;
    padding-left: 10px;
}
.contact-widget-item{
    overflow: hidden;
    margin-bottom: 40px;
}
.iconb{
    height: 60px;
    width: 60px;
    background: var(--primarycolor);
    border-radius: 50px;
    line-height:  60px;
    text-align: center;
    margin-left: 30px;
    float: left;
}
.iconb{
    font-size: 30px;
    background: var(--primarycolor);
    border-radius: 50%;
    padding: 8px;
    color: var(--whitecolor);
}
    
.text{
    overflow: hidden;
}
.text h5{
    color: var(--blackcolor);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.text p{
    font-size: 16px;
    font-family:"Bai jamjuree", sans-serif ;
    color: var(--blackcolor);
    font-weight: 400;
    line-height: 28px;
    margin:  0 0 15px 0;
}
.contact-form{
    text-align: center;
    margin-bottom: 40px;
}
form{
    display: block;
    margin-top: 0em;
}
form input{
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    color: var(--blackcolor);
    border: 1px solid var(--primarycolor);
    margin-bottom: 20px;
    border-radius: 4px;
    transition: all , .3s;
}
form textarea{
    height: 110px;
    width: 100%;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: var(--blackcolor);
    border: 1px solid var(--cardBg);
    resize: none;
    margin-bottom: 9px;
    border-radius: 4px;
    transition: all , .3s;

}
 button{
    width: 100%;
    cursor: pointer;
}
.btn {
    margin-top: 1rem;
    background: var(--primarycolor);
    color: var(--whitecolor);
    font-weight: 600;
    justify-content: center;
    gap: 2rem;
  }
.map-column{
    flex: 0 0 auto;
    width: 100%;
}
.contact-map iframe{
    width: 100%;
}
@media screen and (max-width:1200px) {
    .container{
        max-width: 960px;
    }
}
    @media screen and (max-width:990px) {
        .container{
            max-width: 720px;
        }
    
}
@media screen and (max-width:768px) {
    .container{
        max-width: 540px;
    }
    .column{
        width: 100%;

    }
}
    @media  (max-width:1200px) {
        .contact-heading{
            padding-right: 0;
        }
        .contact-heading h2{
            font-size: 22px;
        }
        .contact-heading h2::before{
            right: -60px;
            width: 50px;
        }
        .contact-heading h2::after{
            right: -60px;
            width: 50px;
        }
    }