
:root {
  --font-family: 'Manrope', sans-serif;
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  ---whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: hsl(0, 100%, 98%);
  --cardBg: rgb(225, 225, 235);
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%,  #89E894 102.67%);
}/* General Styles */


/* Header Section */
.gpt3__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  color: var(--textcolor);
  padding: 40px 20px;
  margin-top: 3rem;
}

.gpt3__header-content {
  flex: 1;
  max-width: 600px;
}

.custom-heading {
  font-size: 3rem;
  margin-bottom: 20px;
}

.gradient__text {
  background: linear-gradient(to right, #3498db, #2ecc71);
  -webkit-background-clip: text;
  color: transparent;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
}



input[type="text"] {
  width: 100%;
  box-shadow: 0px 0px 20px -18px;

  padding: 15px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;


}

input[type="text"]:focus {
  border: 2px solid grey;
}


/* Dropdown Styles */
.category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #e5e9ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
}

.category-dropdown-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ecf0f1;
}

.category-dropdown-item:hover {
  background-color: #2c3e50;
}

/* Header Content People Section */
.gpt3__header-content__people {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.gpt3__header-content__people p{
font-size: 1rem;
}
.gpt3__header-content__people img {
  margin-right: 10px;
  width: 200px;

}

/* Header Image Section */
.gpt3__header-image {
  flex: 1;
  max-width: 600px;
  border-radius: 5rem;
}

/* Carousel Styles */
.carousel-root {
  width: 100%;
}
.carousel .thumbs-wrapper {
  display: none !important;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
  .gpt3__header {
    flex-direction: column;
    text-align: center;
  }

  .gpt3__header-content,
  .gpt3__header-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .gpt3__header-content__people {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Media Query for Larger Screens */
@media screen and (min-width: 1200px) {
  .gpt3__header {
    padding: 60px 40px;
  }
  .gpt3__header-image {
    flex: 1;
    max-width: 900px;
    border-radius: 5rem;
  }
  .custom-heading {
    font-size: 3rem;
    margin-top: -2rem;
  }
  
}

/* Media Query for Even Smaller Screens */
@media screen and (max-width: 480px) {
  .custom-heading {
    font-size: 2rem;
  }

  .search-bar input[type="text"] {
    padding: 10px;
  }
}
