:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  ---whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 10%, 71%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whitecolorDeam);
  width: 100%;
  padding: 0.5rem;
  z-index: 1000;
  height: 60px;
  position: fixed;
  top: 0;
}


.logo img {
  width:100%;
  height: auto;
  max-width: 150px;
  max-height: 54px
}


.icone {
  color: var(--primarycolor);
  transform: translateY(3px);
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navBar {
    background: var(--whitecolorDeam);
    position: absolute;
    width: 50%;
    border-radius: 1rem;
    top: -400rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.1s ease-in-out;
    z-index: 2000;
  }
  
  .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    margin:0px !important;
  }
  .navLists h5{
    color: var(--textcolor);
    font-size: 1rem;
    font-family: cursive;
  }
  .NavItem {
    padding: 0.5rem 0;
   
  }
  .NavItem i{
    color: var(--blackcolor);
   
    margin-right: 1rem;
    
  }
  .navLink {
    color: var(--textcolor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navLink:hover {
    color: var(--Hovercolor);
  }
  .navLink:hover::after{
    content: '';
    width: 30px;
    height: 2px;
    background: var(--primarycolor);
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  .btnq  {
    display: flex;
   
    margin-right: 1rem;
    padding: .4rem 1.5rem;
    background: var(--primarycolor);
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    
    display: flex;
  margin-left: 1.5rem;
   
    
    

  }
  .btnq a {
    font-weight: 400;
    color: var(--whitecolor);
    text-align: center;
    
  }
  .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--primarycolor);
  }
  .closeNavbar:hover {
    color: var(--Hovercolor);
  }
  .activeNavbar {
    top: 7rem;
  }
  .toggleNavbar img {
    font-size: 25px;
    border-radius: 50px;
    
    width: 40px;
   
  }
  .toggleNavbar.icon:hover {
    color: var(--Hovercolor);
  }
  .profile_action.btnq{
    
    display: grid;
    flex-direction: row;
    background: var(--cardBg);
  
  }
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
 .navLists h5{
  display: none;
 }
  .toggleNavbar img{
    
    width: 40px;
    border-radius: 50px;
  }
  .toggleNavbar.profile_action{
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: var(--cardBg);
    line-height: 30px;
  }
  .header {
    padding: 0.5rem 1rem;
  }
  .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    margin:0px !important;
  
  }
  .NavItem{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .NavItem i{
    color: var(--blackcolor);
  }
  .NavItem .navLink {
    color: var(--textcolor);
    padding: 0 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    
    
  }
  .navLink:hover {
    color: var(--primarycolor);
    transition: 0.3s ease-in-out;
  }
  .navLink:hover::after{
    content: '';
    width: 30px;
    height: 2px;
    background: var(--primarycolor);
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  .btnq {
    
   
    margin-right: 3rem;
    margin-left: 3rem;
    padding: .2rem 1.8rem;
    background: var(--primarycolor);
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    height: auto;

  }
  .btnq a {
    font-weight: 500;
    color: var(--whitecolor);
    text-align: center;
  }
}
@media screen and (min-width: 960) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240) {
  .header {
    padding: 1rem 8.5rem;
  }
 
}