:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  --whitecolor: hsl(0, 0%, 100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
  --color-footer: #031B34;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c3e50;
  width: 100%;
  padding: 0.5rem;
  z-index: 1000;
  height: 60px;
  position: fixed;
  top: 0;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 54px;
}

.icone {
  color: #89E894;
  transform: translateY(3px);
  font-size: 2rem;
  cursor: pointer;
}

.NavItem {
  display: flex;
  align-items: center;
}

.NavItem i {
  color: #89E894;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.navLink {
  color: var(--whitecolor);
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
}

@media screen and (max-width: 768px) {
  .navBar {
    flex: 1;
    height: calc(100vh - 60px);
    background-color:#2c3e50;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
    width: 60%;
    text-align: left;
  }

  .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0px !important;
    text-align: left;
    display: flex;
  }

  .NavItem {
    padding: 0.7rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
 
  }

  .NavItem i {
    color: #89E894;
    padding-right: 1rem;
    font-size: 1.5rem;
  }

  .navLink {
    color: var(--whitecolor);
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
  }

  .NavItem .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
  }

  .NavItem:hover .dropdown {
    display: block;
  }

  .navLists h5 {
    color: var(--textcolor);
    font-size: 1rem;
    font-family: cursive;
  }

  .navLink:hover {
    color: var(--Hovercolor);
  }

  .navLink:hover::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #89E894;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .btnq {
    background-color: #6558d3;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    outline: 0;
    padding: 0.625em 0.75em;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .btnq a {
    font-weight: 400;
    color: var(--whitecolor);
    text-align: center;
  }

  .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--primarycolor);
  }

  .closeNavbar:hover {
    color: var(--Hovercolor);
  }

  .navBar.activeNavbar {
    transform: translateX(0%);
  }

  .toggleNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: white;
  }

  .toggleNavbar img {
    font-size: 25px;
    border-radius: 50px;
    width: 40px;
  }

  .toggleNavbar.icon:hover {
    color: var(--Hovercolor);
  }

  .profile_action.btnq {
    display: grid;
    flex-direction: row;
    background: var(--cardBg);
  }
}

.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation>ul {
  position: relative;
  list-style: none;
  display: flex;
}

.navigation ul li {
  width: 70px;
  height: 70px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  line-height: 80px;
  color: var(--primarycolor);
  padding-top: 0.5rem;
  padding-right: 2.3rem;
}

.name {
  position: absolute;
  padding-top: 0.8rem;
  padding-right: 1.9rem;
  color: var(--textcolor);
  font-size: 0.95em;
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }

  .navigation {
    display: none;
  }

  .navLists h5 {
    display: none;
  }

  .toggleNavbar img {
    width: 40px;
    border-radius: 50px;
  }

  .toggleNavbar.profile_action {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: var(--cardBg);
    line-height: 30px;
  }

  .header {
    padding: 0.5rem 1rem;
  }

  .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    margin: 0px !important;
  }

  .NavItem {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .NavItem i {
    color: #89E894;
  }

  .NavItem .navLink {
    color: var(--whitecolor);
    padding: 0 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
  }

  .navLink:hover {
    color: var(--primarycolor);
    transition: 0.3s ease-in-out;
  }

  .navLink:hover::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #89E894;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .btnq {
    background-color: #6558d3;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    outline: 0;

    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .btnq a {
    font-weight: 500;
    color: var(--whitecolor);
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 1.3rem;
  }

  .navigation {
    display: none;
  }
}
