

:root{
    --primarycolor: hsl(26, 93%, 50%);
    --Hovercolor: hsl(26, 90%, 42%);
    --whitecolor: hsl(0, 0%,100%);
    --blackcolor: hsl(0, 0%, 18%);
    --textcolor: hsl(240, 1%, 48%);
    --whitecolorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greytext: rgb(190, 190, 190);
    --inputcolor: hsl(330, 12%, 97%);
    --bodyColor: rgb(240, 240, 246);
    --cardBg: rgb(225, 225, 235);
}
.footer{
    padding-top: 70px;
    padding-bottom: 30px;
   
}
.footer.logot img{
   
    width: 150%;
   
    position: top;
}
.footer .logot p{
   color: var(--textcolor);
 
}
.footer .logot h5{
    color: var(--primarycolor);
}

.social_links span a{
    text-decoration: none;
    color: var(--primarycolor);
    font-size: 1.2rem;
}
.footer_link-title{
    color: var(--blackcolor);
    margin-top: 1rem;
}

.footer_quick-links li a {
    text-decoration: none;
   
    font-size: 1rem;
}
.footer_quick-links h6 span i {
    color: var(--primarycolor);
    font-size: 1.1rem;
}
.footer_quick-links p{
    margin-top: 0.7rem;
}