body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    rgb(242, 244, 246) 0%,
    rgb(250, 251, 244) 0%
  );
  text-align: center;
}
.text-color{
color: greenyellow;
}
.body-content{
  padding: 0px 5px;
}